nav{
    background-color:rgba(0, 221, 255, 0.443);
    color:blue;
    border-bottom:1px solid red;
}

.view2{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.black{
    width:200px;
    height:200px;
    background-color:black;
    display:flex;
    color:white;
    justify-content: center;
    align-items:center;
}

h3{
    color:aqua;
}



.khaki{
    background-color: rgba(255, 140, 0, 0.622);
}